<%@orders.each do |order|%>
  <div class="card">
    <div class="card-title">
      Orden n° <%=order.id%>
      Estado: <%= order.status%>
      cliente id: <%= order.user_id%>
    </div>
    <div class="card-body">
      <%order.order_items.each do |line|%>
      <h4>Nombre del producto: <%=line.product.name%></h4>
      
      <%end%>
      Precio de la orden:<%= order.subtotal %>
    </div>
  </div>
<%end%>
<div class="text-center">
<%= link_to 'Atras', admin_index_path, class:'btn btn-outline-secondary mt-3'%>
</div>