<p id="notice"><%= notice %></p>

<div class="text-center">
  <h1>Mis Productos</h1>
</div>
  <div class="text-center mb-3">
    <%= link_to 'Agregar Producto', new_product_path , class:'btn btn-outline-success'%>
  </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @products.each do |product| %>
     <div class="card mx-2 mt-3" style="max-width: 18rem">
        <%if product.image.attached?%>
        <%= image_tag product.image, class:"card-img-top",style:'width:300px; height:300px'%>
        <%else%>
          <%= image_tag "no_image.png",class:'card-img-top',style:'height:262px; width:262px ' %>
        <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= product.name%></h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: <%= product.price%></h6>
        <h6 class="card-subtitle mb-2 text-muted">Modelo: <%= product.model %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Descripcion: <%= product.description %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Marca: <%= product.brand %></h6>
        <div class="btn-group" role="group">
          <%= link_to 'Detalles', admin_show_product_path(:id => product.id), class:'btn btn-outline-primary' %>
          <%= link_to 'Editar', edit_product_path(product),class:'btn btn-outline-primary' %>
          <%= link_to 'Eliminar', product ,method: :delete, data: {confirm:'¿Esta seguro?'}, class:'btn btn-outline-danger'%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center">
<%= link_to 'Atras', admin_index_path, class:'btn btn-outline-secondary mt-3'%>
</div>