<p id="notice"><%= notice %></p>

<div class="text-center">
  <h1>Productos disponibles</h1>
</div>
  <% if can? :manage, @product%>
    <div class="text-center mb-3">
      <%= link_to 'Agregar Producto', new_product_path , class:'btn btn-outline-success'%>
    </div>
  <%end%>
<div class="row row-cols-1 row-cols-md-3 g-4">
 
  <% @products.each do |product| %>
     <div class="card mx-2 mt-3" style="max-width: 18rem" >
        <%if product.image.attached?%>
        <%= image_tag product.image, class:"card-img-top"%>
        <%else%>
          <%= image_tag "no_image.png",class:'card-img-top',style:'height:262px; width:262px ' %>
        <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= product.name%></h5>
        <h6 class="card-subtitle mb-2 text-muted">Precio: <%= product.price%></h6>
        <h6 class="card-subtitle mb-2 text-muted">Modelo: <%= product.model %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Descripcion: <%= product.description %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Marca: <%= product.brand %></h6>
        <div class="btn-group" role="group">
        <%if can? :manage, product%>
          <%= link_to 'Detalles', product, class:'btn btn-outline-primary' %>
          <%= link_to 'Editar', edit_product_path(product),class:'btn btn-outline-primary' %>
          <%= link_to 'Eliminar', product ,method: :delete, data: {confirm:'¿Esta seguro?'}, class:'btn btn-outline-danger'%>
        <%else%>
           <%= link_to 'Detalles', product, class:'btn btn-outline-primary' %>
           <%= form_for @order_item, remote: true do |f|%>
            <%=f.hidden_field :product_id, :value => product.id%>
            <%= f.number_field :quantity, :value => 1, :min => 1%>
            <%= f.submit "Agregar al carrito"%>
            <%end%>
        <%end%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="cart">
  
<%= render 'cart/carts'%>
 </div>

   